body {
    background-color: #f0f8ff; /* Light, refreshing background color */
    color: #333; /* Dark text for good contrast */
    font-family: Arial, sans-serif; /* Clean and modern font */
}

header {
    background-color: #ff6f61; /* Vibrant coral color for header */
    color: #fff; /* White text on the header */
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ff6347; /* Bright tomato color for main headings */
}

button {
    background-color: #4caf50; /* Motivating green for buttons */
    color: #fff; /* White text on buttons */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners for a modern look */
}

button:hover {
    background-color: #45a049; /* Darker green when hovering over buttons */
}

footer {
    background-color: #ff6f61; /* Matching footer color with header */
    color: #fff; /* White text in footer */
    padding: 10px;
    text-align: center;
}
h2 {
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

textarea, input[type="text"], input[type="number"], input[type="date"], input[type="file"], select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: #333;
    color: #fff;
}

button.new-entry {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #333;
}

th {
    background-color: #444;
}

.upload {
    display: flex;
    justify-content: space-between;
}

.upload input[type="file"] {
    width: 100%;
}
